extends base 


block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Sign Up
            form.form.loginform#signup
                .form__group
                    label.form__label(for='name') Name
                    input#name.form__input(type='text', placeholder='Your Name', required)
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='2')
                .form__group.ma-bt-md
                    label.form__label(for='confirm_password') Confirm Password
                    input#confirm_password.form__input(type='password', placeholder='••••••••', required, minlength='2')
                //- .form__group.ma-bt-md
                //-     label.form__label(for='photo') upload your photo
                //-     input#photo.form__input(type='file')
                .form__group.form__photo-upload
                    input.form__upload(type="file", accept='image/*',id=`photo`,name='photo')
                    label(for="photo") Choose new photo
                .form__group
                    button.btn.btn--green Signup
